<% include partials/landingHeader %>

<div id="banner"> 
	<a href="/">
		<img src="/assets/logo146.png" id="logo-banner" alt="ADAmap">
	</a>
	<a href="/" class="banner-content"> About</a>
	<a href="/" class="banner-content"> Learn</a>
	<a href="/">
		<div class="banner-content" id="photo-div" style='background-image: url(/assets/DefaultPersonPhoto.png);'></div>
	</a>
	<a href="/login" class="banner-content" id="banner-login"> Login</a>
	<a href="/" class="banner-content" id="banner-logout"> Logout</a>
	<a href="/issues" class="banner-content" id="banner-issues"> Issues</a>

</div>

<div id="main-content">
	<div id="map-controls">
		<div id="city-search">
			<form action="/issues" method="GET" id="form-control">
				<input type="text" class="form-control" name="address" id="address-search" placeholder= "Search by City and State" autofocus>
			</form>	
		</div>
		<button id="locate-me">Find Me! <img src="/assets/mapIcons/locate.gif" alt=""></button>
		<div id='map-canvas' class='map-canvas' data-options='{"properties":{"dropMarker":"true","geolocate":true,"isReport":true,"mapTypeControl":true,"flexy":true}}'></div>
	</div>

	<div id="issues-box">
		<table class="table">
			<thead>
				<tr>
					<th>Top Issues Nearby</th>
					<th> </th>
					<th> </th>	
				</tr>
			</thead>
			<tbody id='tbody'>
				<% issues.forEach(function(issue){ %>
				<tr>
					<td class="issueBox-col1"> 
						<div class="issueBox-num"> Issue# <a href="/issues/<%= issue._id%>/"> <%= issue.issueNum %> </a> <div>

						<div class="issueBox-img"><a href="/issues/<%= issue._id%>/"> <img src="<%= issue.image %>" style="width:11vw; height:12vh;" onerror="this.src='/assets/noImg.jpg'"> </a></div>

						<div> <%= issue.city%> </div>
					</td>
					<td class="issueBox-col2"> 
						<div class="issueBox-title"> <%= issue.title %> </div>
						<div class="issueBox-user"> <a href=" "><%= issue.user %> username</a> </div>
						<div class="issueBox-date"> <%= issue.dateCreated %></div>
					</td>
					<td class="issueBox-col3"> 
						<div class="issueBox-votes"> votes: <%= issue.votes %> </div>
						<div class="issueBox-voteIcon"> <img src="/assets/thumbs/tugrey.png" alt="Up-Vote!"></div>
						<div class="isseBox-views"> views: <%= issue.views %> </div>
					</td>
			
				</tr>
				<% }) %>
			</tbody>
		</table>	
	</div>






</div>





<div id="footer"> </div>

<% include partials/footer %>