<% include partials/landingHeader %>

<div id="banner"> 

	<h1 class="banner-content" id="logo">ADA Map</h1>
	<h1 class="banner-content"> About</h1>
	<h1 class="banner-content"> Learn</h1>
	
	<div class="banner-content" id="photo-div" style='background-image: url(/assets/DefaultPersonPhoto.png);'></div>
	<h1 class="banner-content" id="issues"> Issues</h1>

</div>

<div id="main-content">

	<div id="map-canvas"></div>

	<div id="issues-box">
		<thead>
			<tr>
				<th> Top Issues </th>
			</tr>
		</thead>
		<tbody id='tbody'>
			<% issues.forEach(function(issue){ %>
			<tr>
				<td> 
					<div class="issueBox-num"> AdaMap# <a href="/issues/<%= issue._id%>/"> <%= issue.issueNum %> </a> <div>

					<div class="issueBox-img"><img src="<%= issue.image %>" style="width:40px; length:40px;"  alt="/assets/noImg.jpg"></div>

					<div> <%= issue.city%> </div>
				</td>
				<td> 
					<div class="issueBox-title"> <%= issue.title %> </div>
					<div class="issueBox-user"> <%= issue.user %> </div>
				</td>
				<td> <div class="issueBox-votes"> <%= issue.votes %> </div>
						 <div class="issueBox-voteIcon"> Vote-Icon</div>
						 <div class="isseBox-views"> <%= issue.views %> </div>
				</td>
		
			</tr>
			<% }) %>
		</tbody>
	</div>






</div>





<div id="footer"> </div>

<% include partials/footer %>