<% include ../partials/header %>

<div id="banner"> 
	<a href="/">
		<img src="/assets/logo146.png" id="logo-banner" alt="ADAmap">
	</a>
	<a href="/" class="banner-content hvr-underline-from-center"> About</a>
	<a href="/" class="banner-content hvr-underline-from-center"> Learn</a>
	<a href="/">
		<div class="banner-content" id="photo-div" style='background-image: url(/assets/DefaultPersonPhoto.png);'></div>
	</a>
	<a href="/logout" class="banner-content hvr-underline-from-center" id="banner-logout"> Logout</a>
	<a href="/issues" class="banner-content hvr-underline-from-center" id="banner-issues"> Issues</a>

</div>

<div id="main-content">

</div>


<div class="container">

	<div class="page-header text-center">
		<h1 class="prof"><span class="fa fa-anchor"></span> Profile Page</h1>
	</div>


	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				

					<p>
						<strong>Username</strong>: <%= user.local.username %><br>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>

					</p>

			</div>

		</div>

	</div>

<div id="profile-issues-box">
		<table class="table">
			<thead>
				<tr>
					<th> Your Issues </th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody id='tbody'>
				<% issues.forEach(function(issue){ %>
				<tr>
					<td class="issueBox-col1"> 
						<div class="issueBox-num"> AdaMap Issue# <a href="/issues/<%= issue._id%>/"> <%= issue.issueNum %> </a> <div>

						<div class="issueBox-img"><a href="/issues/<%= issue._id%>/"><img src="<%= issue.image %>" style="width:12vw; height:14vh;" onerror="this.src='/assets/noImg.jpg'"></a></div>

						<div> <%= issue.city%> </div>
					</td>
					<td class="issueBox-col2"> 
						<div class="issueBox-title"> <%= issue.title %> </div>
						<div class="issueBox-date"> Created on: <%= issue.dateCreated %></div>
					</td>
					<td class="issueBox-col3"> 
						<div class="issueBox-votes"> votes: <%= issue.votes %> </div>			
					</td>
			
				</tr>
				<% }) %>
			</tbody>
		</table>	
	</div>
</div>



<% include ../partials/footer %>