<% include ../partials/header %>

<div id="banner"> 
	<a href="/">
		<img src="/assets/logo146.png" id="logo-banner" alt="ADAmap">
	</a>
	<a href="/" class="banner-content hvr-underline-from-center"> About</a>
	<a href="http://www.ada.gov/" class="banner-content hvr-underline-from-center"> Learn</a>
	<% if (currentUser !== ""){ %>
	<a href="/profile">
		<div class="banner-content" id="photo-div" style='background-image: url(/assets/DefaultPersonPhoto.png);'></div>
	</a>
	<% } %>
	<% if (currentUser == ""){ %>
 		<a href="/login" class="banner-content hvr-underline-from-center" id="banner-login"> Login</a>
	<% } else { %>
		<a href="/logout" class="banner-content hvr-underline-from-center" id="banner-logout"> Logout</a>
	<% } %>

</div>

<div id="main-content">

	<div id="issue-search">
				<form action="/issues/number" method="GET" id="form-control">
					<label for="issueSearch"> Search for an Issue:</label>
					<input type="text" class="form-control" name="issueNum" id="issueSearch" placeholder= "Enter a Issue #" autofocus>
				</form>	
			

	<form action="/issues/new" id="form-control" >
    <input type="submit" class="issBtn" value="Create a New Issue">
</form>
</div>
	

	<div id="issues-box-left">
		<table class="table">
			<thead>
				<tr>
					<th> Most Recent Issues </th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody id='tbody'>
				<% dates.forEach(function(issue){ %>
				<tr>
					<td class="issueBox-col1"> 
						<div class="issueBox-num"> AdaMap Issue# <a href="/issues/<%= issue._id%>/"> <%= issue.issueNum %> </a> <div>

						<div class="issueBox-img"><a href="/issues/<%= issue._id%>/"><img src="<%= issue.image %>" style="width:12vw; height:14vh;" onerror="this.src='/assets/noImg.jpg'"></a></div>

						<div> <%= issue.city%> </div>
					</td>
					<td class="issueBox-col2"> 
						<div class="issueBox-title"> <%= issue.title %> </div>
						<div class="issueBox-user"> Created by: <a href=" "><%= issue.user.local.username %> </a> </div>
						<div class="issueBox-date"> Created on: <%= issue.dateCreated %></div>
					</td>
					<td class="issueBox-col3"> 
						<div class="issueBox-votes"> votes: <%= issue.votes %> </div>
						<% if (currentUser !== ""){ %>
						<div class="issueBox-voteIcon" id="voteIcon"> <img src="/assets/thumbs/tugrey.png" alt="Up-Vote!" class="voteUp" data-id= <%= issue._id %>></div>
						<% } %>
					
					</td>
			
				</tr>
				<% }) %>
			</tbody>
		</table>	
	</div>

	<div id="issues-box-right">
		<table class="table">
			<thead>
				<tr>
					<th> Top Issues (by vote) </th>
					<th> </th>
					<th> </th>
				</tr>
			</thead>
			<tbody id='tbody'>
				<% issues.forEach(function(issue){ %>
				<tr>
					<td class="issueBox-col1"> 
						<div class="issueBox-num"> AdaMap Issue# <a href="/issues/<%= issue._id%>/"> <%= issue.issueNum %> </a> <div>

						<div class="issueBox-img"><a href="/issues/<%= issue._id%>/"><img src="<%= issue.image %>" style="width:12vw; height:14vh;" onerror="this.src='/assets/noImg.jpg'"></a>

						<div> <%= issue.city%> </div>
					</td>
					<td class="issueBox-col2"> 
						<div class="issueBox-title"> <%= issue.title %> </div>
						<div class="issueBox-user"> Created by: <a href=" "><%= issue.user.local.username %> </a> </div>
						<div class="issueBox-date"> Created on: <%= issue.dateCreated %></div>
					</td>
					<td class="issueBox-col3"> 
						<div class="issueBox-votes"> votes: <%= issue.votes %> </div>
						<% if (currentUser !== ""){ %>
						<div class="issueBox-voteIcon" id="voteIcon"> <img src="/assets/thumbs/tugrey.png" alt="Up-Vote!" class="voteUp" data-id= <%= issue._id %>></div>
						<% } %>
				
					</td>
			
				</tr>
				<% }) %>
			</tbody>
		</table>	
	</div>



</div>


<% include ../partials/footer %>